#nice-font {
    font-size: 1.8rem;
    font-family: 'Roboto Slab', serif;
    color: black;
}
.header {
    text-align: center;
}
.rules-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.poker-rules, .blackjack-rules {
    flex: 1;
    padding: 0 20px;
    /* placeholder */
}
.poker, .blackjack {
    width: 50%;
    padding: 0px 20px;
}
.games-container {
    display: flex;
    justify-content: space-between;
}
.game-button {
    background-color: rgb(53, 101, 77);
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 20px;
    border: 1px solid black;
}
.medium {
    font-size: medium;
} 
